
.covid-19-container{
    width:90%;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:5px;
    padding:10px;
    border:2px solid rgba(0,0,0,0.1);
    text-align:center;
    display:flex;
    color:red;
    font-weight:bold;
    font-size:2em;
    justify-content: center;
  }
  .phrase{
    color:greenyellow;
  }