

<div class="about-container" id="about">
 <div class="about-title">
     About
 </div>   
   <div class="text-container">
    <div class="text">
        Contact us On whatsapp : 9973922757
    </div>

    <div class="text">
      Visit Our Website Medithinker.com
    </div>

    <div class="text">
        Mail Us MediThinker@gmail.com
    </div>


      <div class="copyright">
        Copyright &copy; 2020 Medi-Thinker All rights reserved
      </div>
   </div>
</div>