<link rel="stylesheet" href="/css/covid-19.css">
<div class="covid-19-container">
    <div class="covid-19-alert ">
        Alert  Covid-19<br>
       
      <b class="phrase">  Stay Home Stay safe</b>
    </div>

</div>