
<!-- This is for header file -->
<link rel="stylesheet" href="/css/Layout.css">
<div class="header" id="header">
  <div class="header-title"><img class="header-logo" src="/logo/MediThinker.png" alt="MediThinker"></div>
  <div class="header-profile">
    <div class="profile-image">
      <img class="img-size" src="/icons/unknown-user.png" />
    </div>
    <div class="profile-name"> Mr. John</div>
    <div class="profile-button"></div>
  </div>
</div>