<div class="content-left border-right">

    <div class="left-dashboard left-icon" >
     <a href="/admin/index"> <img src="/icons/home.png" class="img-size" /></a>
    </div>

    <div  class="left-report left-icon" id="leftReport">
      <a href="/admin/report"><img src="/icons/report.png" class="img-size" /></a>
    </div>

    <div class="left-products left-icon">
    <a href="/admin/manageProduct">  <img src="/icons/product.png" class="img-size" />
    </div>

    <div class="left-employee left-icon">
     <a href="/admin/manageEmp">  <img src="/icons/employee.png" class="img-size" /> </a>
    </div>

    <div class="left-customer left-icon">
      <a href="/admin/manageUser"> <img src="/icons/customer.png" class="img-size" /></a>
    </div>

    <div class="left-customer left-icon">
      <a href="/admin/sellingTable">  <img src="/icons/sell.png" class="img-size" /> </a>
    </div>
<!-- 
    <div class="left-customer left-icon">
      <img src="/icons/OutOfStock.png" class="img-size" />
    </div> -->
  </div>
<script src="/js/master.js"> </script>
