
    <script
    src="https://kit.fontawesome.com/434a835bd6.js"
    crossorigin="anonymous"
  ></script>
  <div class="middle-navbar">
    <div class="middle-button">
      <a href="manageProduct">Products </a>
    </div>
    <div class="middle-button">
      <a href="addProduct">Add </a>
    </div>
    <div class="middle-button">
      <a href="removeProduct">Remove</a>
    </div>
    <div class="middle-button">
      <a href="UpdateProduct">Update </a>
    </div>
    <form method="POST" action="manageProduct/searchProduct">
      <div class="search-box">
        <input
           class="search-txt"
           type="text"
           name="searchValue"
           placeholder="search"
        />
        <button type="submit" class="search-btn">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </div>
