<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/product.css"> 
    <title> product</title>
</head>
<body>
    <div class="container">
        <%- include ('../include/userHeader.ejs') %>
        <!-- product div -->
      <div class="product">
          <div class="product-name-container">
             <div class="product-name"> Revital</div>
          </div>
          <div class="product-image-container">
              <img src="/images/revital.jpg" class="product-img">
          </div>
           <div class="product-price">
               <h2>MRP : RS 112</h2><br>
               <h3>Pack of : 30 Capsules</h3>
           </div>
        
        <div class="product-about">
            <h1>About</h1>    <br>
            <h3>Quick Overview:</h3><br>
            <h5>Revital H Tablet is a multivitamin supplement which is a healthy combination of 12 Vitamins,<br>
                 10 Minerals and Ginseng to improve immunity and keep you physically active throughout the day.<br>
                  These capsules help to prevent fatigue and weakness as well as enhance the</h5><br>
             </h5>
             <h3 >Key ingredients</h3><br>
            <ul>
                <li>
                    Vitamin
                </li>
                <li>
                    Minerals
                </li>
                <li>
                    Ginseng
                </li>
            </ul>

         </div>

       </div>
      <!--  End of product div-->

    </div>

</body>
</html>