<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<!-- This is for header file -->
<div class="container"></div>
  <div class="header" id="header">
    <div class="header-title">MEDI-THINKER</div>
    <div class="header-profile">
      <div class="profile-image">
        <img class="img-size" src="/icons/unknown-user.png" />
      </div>
      <div class="profile-name">MrJohn</div>
      <div class="profile-button"></div>
    </div>
  </div>
  <div class="content">
   <div class="content-left border-right">

    <div class="left-dashboard left-icon" href="#home">
     <a href="icons/home.png"bb> <img src="/icons/home.png" class="img-size" /></a>
    </div>

    <div class="left-report left-icon" id="leftReport">
      <img src="/icons/report.png" class="img-size" />
    </div>

    <div class="left-products left-icon">
      <img src="/icons/product.png" class="img-size" />
    </div>

    <div class="left-employee left-icon">
      <img src="/icons/employee.png" class="img-size" />
    </div>

    <div class="left-customer left-icon">
      <img src="/icons/customer.png" class="img-size" />
    </div>

    <div class="left-customer left-icon">
      <img src="/icons/orderRequest.png" class="img-size" />
    </div>

    <div class="left-customer left-icon">
      <img src="/icons/OutOfStock.png" class="img-size" />
    </div>
  </div>



